@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 class="text-center" style="color: teal">GitHub Search</h1>
    <p class="lead">This project is a Github search portal which uses the MVC pattern using ASP.NET and C#. I opted for a clean architecture for this project. Unit tests have also been added which include Moq as my mocking framework of choice.</p>
    <p class="lead">Type in any Github username to access their basic account info and get a list of their top repositories based on stargazers.</p>
    <p class="lead">This is an ongoing project with a few things in the works such as:-</p>
    <ul>
        <li>JavaScript Framework front-end (React or Vue)</li>
        <li>Implement custom CSS</li>
        <li>Additional external Github API support</li>
        <li>Recreate in ASP.NET Core</li>
    </ul>
    <p class="text-center"><a href="https://github.com/lukecbt" target="_blank" class="text-center btn btn-default btn-lg">My Github</a></p>
</div>

<div class="row">

    <div class="col-xs-12">
        @Html.Action("RenderForm")
    </div>

    <div class="col-xs-12">
        @if (Convert.ToBoolean(TempData["Submitted"]))
        {
            @model GitHubSearch.ApplicationCore.Models.GenericResult<GitHubSearch.ApplicationCore.Models.GitHubUser>
            if (Model.Item != null)
            {
                <div class="row" style="text-align:center;">
                    <h4 style="color: teal;">Searching user: <em>@Model.Item.Login</em></h4>
                </div>

                <div class="github-user">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="row">
                                <div class="col-xs-12">
                                    <h2>User Details</h2>
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-xs-12 col-md-4">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="github-profile-img"><img src="@Model.Item.AvatarUrl" alt="avatar" width="300" height="300" /></div>
                                        </div>
                                    </div>
                                    @if (!string.IsNullOrWhiteSpace(Model.Item.Name))
                                    {
                                        <div class="github-info-header">
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <div class="github-title"><span>@Model.Item.Name</span></div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <div class="github-sub-title"><span>@Model.Item.Login</span></div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="github-info-header">
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <div class="github-title"><span>@Model.Item.Login</span></div>
                                                </div>
                                            </div>
                                        </div>
                                    }

                                    @if (!string.IsNullOrWhiteSpace(Model.Item.Bio))
                                    {
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="github-info-content"><span>@Model.Item.Bio</span></div>
                                            </div>
                                        </div>
                                    }

                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="github-info-content"><a href="@Model.Item.HtmlUrl" target="_blank" class="btn btn-default btn-lg text-center github-btn">View on GitHub</a></div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="github-info-content github-info-footer"><a href="@Model.Item.FollowersHtmlUrl" target="_blank" class="github-link"><i class="fas fa-users github-icon"></i> @Model.Item.Followers follower(s)</a> &bull; <a href="@Model.Item.FollowingHtmlUrl" target="_blank" class="github-link">@Model.Item.Following following</a></div>
                                        </div>
                                    </div>

                                    @if (!string.IsNullOrWhiteSpace(Model.Item.Location))
                                    {
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="github-info-footer"><i class="fas fa-map-marker-alt github-icon"></i> <span>@Model.Item.Location</span></div>
                                            </div>
                                        </div>
                                    }

                                    @if (!string.IsNullOrWhiteSpace(Model.Item.Blog))
                                    {
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="github-info-footer"><i class="fas fa-link github-icon"></i> <span>@Model.Item.Blog</span></div>
                                            </div>
                                        </div>
                                    }

                                </div>

                                <div class="col-xs-12 col-md-8">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <h2>Repositories</h2>
                                        </div>
                                    </div>
                                    <hr />
                                    @if (Model.Item.Repos != null)
                                    {
                                        foreach (GitHubSearch.ApplicationCore.Models.GitHubRepo repo in Model.Item.Repos)
                                        {
                                            <div class="row">
                                                <div class="col-xs-12 github-repo-card">
                                                    <div class="row">
                                                        <div class="col-xs-12">
                                                            <div class="github-info-content">
                                                                <a href="@repo.HtmlUrl" target="_blank">@repo.Name</a>
                                                                <span class="pull-right"><i class="far fa-star github-icon" title="Stargazers"></i> @repo.StargazersCount</span>
                                                            </div>
                                                            <div class="github-info-content github-repo-description">
                                                                <span>@repo.Description</span>
                                                            </div>
                                                            <div class="github-repo-description">
                                                                <span><i class="fas fa-code github-icon"></i> @repo.Language</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }

                                    }
                                    else
                                    {
                                        <div class="row">
                                            <div class="col-xs-12">
                                                This user has no repositories to display.
                                            </div>
                                        </div>

                                    }

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            }
            else
            {
                if (Model.Status == GitHubSearch.ApplicationCore.Enums.StatusCode.Error)
                {
                    <div class="col-xs-12" style="padding: 10px;">
                        <span class="alert-danger" style="padding: 10px;">
                            @Model.Message
                        </span>
                    </div>
                }
                else
                {
                    <div class="col-xs-12" style="padding: 10px;">
                        <span class="alert-warning" style="padding: 10px;">
                            @Model.Message
                        </span>
                    </div>
                }

            }

        }
    </div>

</div>